apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - ns.yaml

images:
  - name: min2maxm/devsecops-demo
    newTag: sha-REPLACE_ME
